/.pytest_cache/
/venv/
/tests/.pytest_cache/
/.idea/
/__pycache__/
**/__pycache__/
/reports/
.pyc
*.pyc
src/*.egg-info

# Environments
/env_frontend/
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/